.wraper {
    display: grid;
    min-height: 100vh;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 9px;

    margin: 1.5em 0;

    font-size: 1.25rem;
}

span {
    display: block;
}

.calculator {
    background-color: var(--clr-white);
    padding: 2em;
    border-radius: 1.25em;
    max-width: 500px;
    margin-inline: auto;

    display: grid;
    gap: 2em;
}

label {
    display: block;
}

input {
    text-align: right;
    border: none;
    background-color: var(--clr-very-light-cyan);
    border-radius: .375em;
    padding: .375em;
    width: 100%;
    font-size: 1.5rem;
}

.input-wrapper {
    position: relative;
}

.icon {
    position: absolute;
    left: 0;
    height: 100%;
    padding: .825em;
}

.calculator_input {
    display: grid;
    gap: 1.75em;
}

.calculator_input-tip {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    margin-top: 1em;
}

.calculator_result {
    background-color: var(--clr-dark-cyan);
    padding: 2.5em 1.75em 1.5em;
    border-radius: .75em;

    display: grid;
    gap: 1em;
}

.button {
    background-color: var(--clr-dark-cyan);
    color: var(--clr-white);
    border: 0;
    padding: .375em;
    border-radius: .375em;
    font-size: 1.5rem;
}

.button:hover {
    background-color: var(--clr-btn-hover);
    color:var(--clr-dark-cyan);
    cursor: pointer;
}

.btn-reset {
    color: var(--clr-dark-cyan);
    background-color: var(--clr-cyan);
    text-transform: uppercase;
    font-size: 1.25rem;
    padding: .5em;
    margin-top: .75em;
}

.calculator_result-sum {
    display: flex;
    justify-content: space-between;
}

.sum-label {
    color: var(--clr-white);
}

.light-text {
    opacity: .5;
    font-size: .8125rem;
}

.total-sum {
    color: var(--clr-cyan);
    font-size: 1.825rem;
}

@media (min-width:800px) {
    .wraper {
        place-content: center;
    }

    .calculator {
        grid-template-columns: repeat(2, 1fr);
        max-width: 1100px;
    }

    h1 {
        font-size: 1.625rem;
    }

    .calculator_input-tip {
        grid-template-columns: repeat(3, 1fr);
    }
}