.wraper {
    display: grid;
    min-height: 100vh;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 9px;

    margin: 1.5em 0;

    font-size: 1.25rem;
}

span {
    display: block;
}

.calculator {
    background-color: var(--clr-white);
    padding: 1em;
    border-radius: .75em;
    max-width: 1100px;

    display: grid;
    gap: 2em;
}

label {
    display: block;
}

input {
    text-align: right;
}

.calculator_input-tip {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5em;
}

.calculator_result {
    background-color: var(--clr-dark-cyan);
    padding: 1em;
    border-radius: .75em;

    display: grid;
    gap: 1em
}

.calculator_result-amount,
.calculator_result-total {
    display: flex;
    justify-content: space-between;
}

@media (min-width:800px) {
    .wraper {
        place-content: center;
    }

    .calculator {
        grid-template-columns: repeat(2, 1fr);
    }

    h1 {
        font-size: 1.625rem;
    }

    .calculator_input-tip {
        grid-template-columns: repeat(3, 1fr);
    }
}